.imgmapa { 
    width:600px; /* you can use % */ 
    height: auto;
    max-width:100%;
}

.mapa{
    display: flex;
  justify-content: center;
}

@media screen and (max-width: 990px) {
  .barra{
      display: none;
  }
}